/* stylelint-disable selector-class-pattern */
html,
body {
  font-family: 'Roboto', 'Helvetica', sans-serif !important;
}

.drawer-link {
  margin-left: 20px;
}

dialog {
  position: absolute !important;
  top: 80px !important;
}
