/* stylelint-disable selector-class-pattern */
html,
body {
  font-family: 'Roboto', 'Helvetica', sans-serif !important;
  // user-select: none;
}

.drawer-link {
  margin-left: 20px;
}

dialog {
  position: absolute !important;
  top: 80px !important;
}

// For Share Button
.mdl-button--icon {
  float: right;

  margin-top: 5px;
}

.mdl-badge[data-badge]:after {
  font-size: 12px;

  top: -11px;
  right: -18px;

  width: 17px;
  height: 17px;
}
